# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
tfplan
*.tfvars

# Packer
manifest.json

# Python
venv/
__pycache__/
.pytest_cache/

# docs/diagrams
style.md

# notes
design_structure_rationale.md

# OIDC setup (contains account ID)
trust-policy.json
